.button {
  background-color: $primary;
  color: $white;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 20px;
}

.button:hover,
.button:focus {
  background-color: $primary-lighter;
}

.button:active {
  background-color: $primary-darker;
}

.button:disabled {
  background-color: $grey;
}

.button--reset {
  background-color: $white;
  color: $primary;

  &:hover {
    color: $white;
  }

  &:focus {
    color: $white;
  }

  &:active {
    color: $white;
  }

  @media (min-width: $tablet-width) {
    width: 120px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
  }
}
