.button {
  background-color: $primary;
  color: $white;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 20px;
}

.button:hover,
.button:focus {
  background-color: $primary-lighter;
}

.button:active {
  background-color: $primary-darker;
}

.button:disabled {
  background-color: $grey;
}
