.catalog {
  background-color: $lightest-grey;
  padding: 38px 0 44px;

  @media (min-width: $tablet-width) {
    padding: 68px 0 91px;
  }

  @media (min-width: $desktop-width) {
    padding: 107px 40px 120px;
  }
}

.catalog__subtitle {
  color: $primary;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
  text-align: center;
}

.catalog__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }
}

.catalog__filter-buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    padding: 0;
    padding-left: 10px;
    justify-content: flex-start;
  }
}

.catalog__filter-sorting {
  padding: 44px 28px 19px 23px;
  display: flex;
  gap: 5px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 44px 37px 29px 23px;
    justify-content: end;
    gap: 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 19px 8px 30px 0;
  }
}

.catalog__filter-sorting-caption {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}

.catalog__filter-sorting-select {
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  color: $primary;
}

.catalog__cards-list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 20px;
  margin-bottom: 1px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 60px;
  }
}

.catalog__cards-item {
  list-style: none;
  background-color: $white;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 11px;
  padding: 40px 20px 29px;

  @media (min-width: $tablet-width) {
    width: 349px;
    margin: 0;
    padding: 50px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
  }
}

.catalog__cards-item--style {
  @media (min-width: $desktop-width) {
    box-shadow: $box-shadow;
  }
}

.catalog__pagination {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog__pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__pagination-link {
  text-decoration: none;
  color: $primary;
  background-color: $white;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  padding: 8px;
}

.catalog__pagination-link--current {
  background-color: $lightest-grey;
  color: $black;
  font-weight: 600;
}

.catalog__pagination-link--prev,
.catalog__pagination-link--next {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.catalog__pagination-link--prev::before {
  @media (max-width: $mobile-width-only) {

    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    mask-image: url("../../icons/pagination-prev.svg");
    mask-repeat: no-repeat;
    background-color: $primary;
    top: 15px;
    left: 16px;
  }
}

.catalog__pagination-link--next::before {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    mask-image: url("../../icons/pagination-next.svg");
    mask-repeat: no-repeat;
    background-color: $primary;
    top: 15px;
    left: 18px;
  }
}

.catalog__pagination-link-text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
