.form-details {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 1px;
    display: grid;
    grid-template-columns: 223px 222px 223px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 20px 0 40px;
    padding: 0;
  }
}

.form-details__filter {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 31px;
}

.form-details__title {
  padding: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.form-details__range {
  display: flex;
  justify-content: space-between;
}

.form-details__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form-details__label--switch {
  display: inline-block;
  position: relative;
}

.form-details__label--switch input {
  opacity: 1;
}


.form-details__input {
  padding: 6px 10px;
  margin: 0;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.form-details__input--color {
  color: $grey;
}

.form-details__input--color-text {
  font-family: $montserrat-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black;
}

.form-details__input--width {
  width: 118px;

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.form-details__input--style {
  height: 24px;
  max-width: 10px;

  &:checked + .form-details__radio {
    border: 2px solid $primary;

    &::after {
      position: absolute;
      content: "";
      top: 2px;
      right: 2px;
      width: 16px;
      height: 16px;
      background-color: $primary;
      border-radius: 8px;
    }
  }

  &:hover + .form-details__radio {
    &::after {
      opacity: 0.25;
    }
  }

  &:focus + .form-details__radio {
    &::after {
      opacity: 0.25;
    }
  }

  &:disabled + .form-details__radio {
    border-color: $light-grey;

    &::after {
      background-color: $light-grey;
    }
  }
}

.form-details__input--styles {
  width: 48px;
  height: 0;

  &:hover + .form-details__change {
    background: $primary-opacity;
    border: 2px solid $primary-lighter;
  }

  &:focus + .form-details__change {
    background: $primary-opacity;
    border: 2px solid $primary-lighter;
  }

  &:hover + .form-details__change::before {
    left: 0;
    top: 0;
  }

  &:focus + .form-details__change::before {
    left: 0;
    top: 0;
  }

  &:disabled + .form-details__change {
    background: $light-grey;
  }

  &:disabled + .form-details__change::before {
    border: 2px solid $lightest-grey;
  }

  &:checked + .form-details__change {
    background: $primary;
  }

  &:checked + .form-details__change::before {
    transform: translateX(20px);
    left: -2px;
  }
}

.form-details__label--disabled {
  color: $grey;
}

.form-details__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-details__list-item {
  max-height: 24px;
}

.form-details__radio {
  position: relative;
  bottom: 0;
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  border: 2px solid $grey;
  background: $white;
}

.form-details__change {
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: $grey;
  border-radius: 12px;
  width: 42px;
  height: 24px;
  transition: 0.3s;
  border: 2px solid transparent;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    background: $white;
    width: 20px;
    height: 20px;
    transition: 0.05s;
    border-radius: 10px;
  }
}
