.hero {
  @media (min-width: $tablet-width) {
    padding-bottom: 198px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 49px;
  }
}

.hero__card {
  text-align: center;
  padding-right: 2px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: self-end;
    padding-top: 145px;
    padding-left: 21px;
    text-align: left;
  }
}

.hero__subtitle {
  color: $primary;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.hero__title {
  margin: 0;
  margin-top: 4px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  color: $black;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.hero__description {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $black;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    width: 610px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin: 0;
  }
}

.hero__price {
  display: flex;
  align-items: center;
  padding-left: 43px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: left;
    align-self: self-start;
    padding-top: 21px;
    padding-left: 21px;
  }
}

.hero__price-old {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: $primary;
  text-decoration: line-through;
  padding-top: 2px;
  padding-right: 6px;
  margin: 0;
}

.hero__price-new {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  counter-reset: $black;
  padding-right: 22px;
  margin: 0;
}
