.map {
  min-width: 320px;
  max-height: 420px;
  background-color: $primary-lighter;

  @media (min-width: $tablet-width) {
    min-width: 768;
    max-height: 480px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    max-height: 540px;
  }
}
