.range {
  display: flex;
  flex-flow: column wrap;
}

.range__slider {
  height: 4px;
  margin: 9px 0 34px;
  border: none;
  background-color: $light-grey;
}

.noui-connect {
  background-color: $primary-lighter;
  height: 4px;
}

.noui-base {
  width: 280px;
  background-color: $light-grey;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.noui-horizontal .noui-handle {
  width: 24px;
  height: 24px;
  top: -10px;

  background-color: $white;
  border: 2px solid $primary-lighter;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-color: $white;
    border-radius: 50%;
    top: 10%;
    left: 10%;
  }

  &::before {
    display: none;
  }
}

.noui-handle:hover::after,
.noui-handle:focus::after {
  background-color: $primary-opacity;
}

.noui-handle:active::after {
  background-color: $primary;
}

.range__inputs {
  display: flex;
  flex-flow: row wrap;
  gap: 44px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 2px;
    background-color: $grey;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.range__divider {
  margin: 0;
  padding: 0;
}

.range__input {
  padding: 0;
  width: 118px;
  min-height: 40px;
  border-radius: 4px;
  border: solid 2px $primary-lighter;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}
