.slider {
  position: relative;
}

.slider__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.slider__list-wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 715px 1fr;
    grid-template-rows: 1fr 238px;
  }
}

.slider__images {
  margin-left: 20px;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 20px;
  }
}

.slider__item {
  padding-top: 20px;
  padding-bottom: 60px;
  display: none;

  &--current {
    display: block;
  }

  &--flat {
    background-color: $flat-white;
  }

  &--lavander {
    background-color: $lavender-latte;
  }

  &--espresso {
    background-color: $espresso;
  }

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 308px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 31px;
    padding-bottom: 64px;
  }
}

.slider__pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 71px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

.slider__pagination-button {
  border: none;
  border-bottom: 4px solid $white;
  width: 62px;

  &--current {
    border-bottom: 4px solid $primary;
  }
}

.slider__button {
  cursor: pointer;
  border: none;
  background-color: transparent;

  &::after {
    content: "";
    mask-image: url("../../icons/stack.svg#slider-arrow-left");
    width: 20px;
    height: 20px;
    background-color: $primary;
    display: block;
    border: none;
  }

  &--next::after {
    transform: rotate(180deg);
  }
}

.slider__controls {
  position: absolute;
  top: 317px;
  left: 50%;
  transform: translateX(-50%);
  width: 334px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    top: 311px;
    width: 720px;
  }

  @media (min-width: $desktop-width) {
    top: 346px;
    width: 1392px;
  }
}

.slider__img-wrapper {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 298px;
    left: 50%;
    transform: translateX(-50%);
    width: 476px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    grid-column: 1/2;
    grid-row: 1/3;
    padding-left: 85px;
    transform: translateX(0);
    width: 699px;
  }
}
